<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Agregando los permisos necesarios para la app -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/toby"
        android:label="Vexel Salidas"
        android:roundIcon="@drawable/toby"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vexel_Salida"
        tools:targetApi="31">
        <activity
            android:name=".AccesoQR"
            android:exported="false" />
        <activity
            android:name=".Respuesta"
            android:exported="false" />
        <activity
            android:name=".AccesoFace"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>